@import '../../src/styles/base.css';
@import '../../src/styles/cover.css';

/*
.controls {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.controls > li {
  display: inline-block;
  padding: 10px;

  width: 60px;
  height: 60px;
  box-sizing: border-box;
}

.controls > li > input[type='checkbox'] {
  display: none;
}

.controls > li > label {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;

  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

input[type='checkbox'] + label::before {
  content: '\2006\25B6\FE0E';
}

input[type='checkbox']:checked + label::before {
  content: '\25AE\FE0E \25AE\FE0E';
}
*/
