@import '../styles/base.css';

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

canvas {
  background: #000;
  width: 800px;
  height: 450px;
  image-rendering: pixelated;
}
