html,
body,
main {
  width: 100%;
  height: 100%;
}

html {
  background: #222;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  color: #e7e7e7;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
