@import '../../styles/base.css';

body,
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  border: 3px dashed #fff;
  overflow: hidden;
  width: 80%;
  height: 80%;
  padding: 0;
}

canvas {
  flex-shrink: 0;
  background: #000;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
