@import './styles/base.css';

h1 {
  font-weight: 100;
  margin-top: 0;
  padding: 0.25rem;
}

a {
  color: #e7e7e7;
  font-weight: 100;
  text-decoration: none;
  display: inline-block;
}

h1 > a {
  margin-bottom: 1rem;
  padding: 0.25rem;
}

h1 > a:hover {
  background: #fe57a1;
}

ul {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li > a {
  position: relative;
}

li > a > span {
  font-weight: bold;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

li > a:hover > span {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.65);
}
