@import '../styles/base.css';

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 0;
}

canvas {
  background: #000;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
